* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.App {
    padding: 50px 15px;
}